.social-icon {
    margin: 0.7em;
}
.social-icon img {
    height: 2em;
    widht: 2em;
}
.linkedin {
    filter: invert(25%) sepia(59%) saturate(5797%) hue-rotate(185deg) brightness(96%) contrast(102%);
}
#main-nav {
    float: right;
}
.article-entry p {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.article-footer {
    float: right;
    padding: 0;
}

@media screen and (max-width: 839px) {
    .social-icon img {
        margin: 0.5em;
        height: 3em;
        width: 3em;
    }
    #main-nav {
        float: none;
    }
}
