{{ $seed := now.Unix }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}

<div class="tabs" id="{{ $random }}" role="tablist">

	{{ $tabTotal := .Get "tabTotal" }}
	{{ $tabName := .Scratch.Get "tabName" }}
    {{ $tabContent := .Scratch.Get "tabContent" }}

	{{ range $i, $sequence := (seq $tabTotal) }}
        
    {{ if eq $i 0 }}
		<details class="tab" open>
    {{ else }}
		<details class="tab">
    {{ end }}
            
        <summary>{{ (replaceRE "(\\s)" "" (index $tabName $i)) }}</summary>
        {{ (index $tabContent $i) }}
        {{ if $.Inner }}
        {{ end }}
    </details>

	{{ end }}

</div>
