{{ partial "head.html" . }}
<body>
    {{ partial "sidebar.html" . }}
    <div class="content container">
        {{ partial "theme_toggle.html" . }}
        <div class="posts">
            {{ range where (where .Paginator.Pages "Section" "eq" "posts") "Params.hidden" "ne" "true" }}
            <div class="post">
                {{ if .Title }}
                <h1 class="post-title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h1>
                {{ end }}
                <div class="meta">
                    <span class="post-date">{{ .Date.Format "January 1, 2006" }}</span>
                    {{ if .Params.tags }}
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li class="tag-{{ . }}">
                            <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                {{ $Site := .Site }}
                {{ if .Params.series }}
                    <p class="seriesname">
                        Series: <a href="{{ $Site.BaseURL }}/series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
                    </p>
                {{ end }}
                {{ if .Params.featuredImage }}
                    <p>
                        <img src="{{.Params.featuredImage}}"><br>
                    </p>
                {{ end }}
                {{ .Summary }}
                <p class="more">
                    <a href="{{ .RelPermalink }}">Read More</a>
                </p>
            </div>
            {{ end }}
            {{ if .Site.Params.katex }}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        renderMathInElement(document.body, {
                            delimiters: [
                                {left: "$$", right: "$$", display: true},
                                {left: "$", right: "$", display: false}
                            ]
                        });
                    });
                </script>
            {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </div>
    {{ partial "scripts.html" . }}
</body>
</html>
